@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white antialiased;
    background: radial-gradient(circle at 50% 30%, #1a1f35 0%, #0a0b1e 50%, #020205 100%);
    background-attachment: fixed;
    zoom: 0.75;
  }
}

.font-space {
  font-family: 'Space Grotesk', sans-serif !important;
}

.font-inter {
  font-family: 'Inter', sans-serif !important;
}