@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }
}

.font-space {
  font-family: 'Space Grotesk', sans-serif !important;
}

.font-inter {
  font-family: 'Inter', sans-serif !important;
}